.wrapper{

}

.controls {

}

.blocks-wrapper {
	width:100%;
    display: flex;
}

.blocks {
	margin-left: auto;
	margin-right: auto;
}

.block-row {
	display:flex;
}

.block {
	width:50px;
	height:50px;
	border: 1px solid;
}


.grass {
	background: green;
}

.collide {
	background: #ff5;
}

.hero {
	background: #aaF;
}